# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on: pull_request

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
      - uses: actions/checkout@v2
      - name: Installing dependecies
        run: npm install
      - name: Building
        run: npm run build
